.navBarModelConrainer {
  color: wheat;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  position: fixed;
  bottom: 7px;
  /* left: 1%; */
  /* background: #192033; */
  background: #19203261;
  padding: 0 4px;
  z-index: 100;
  box-shadow: 0 4px 20px #eb855b59;
  padding: 0 1.5rem;
  border-radius: 25px;
  width: 90%;

  position: absolute;

  background: #131314;

  @media (min-width: 767px) {
    display: none;
  }
}

.iconCount {
  position: absolute;
  right: -8px;
  bottom: -7px;
  color: hsl(0deg 0% 100%);
  font-weight: 500;
  padding: 1px 7px;
  background: #0077ff;
  border-radius: 40px;
}
