.headerEl {
  /* box-shadow: var(--shadow); */
  color: wheat;
  padding: 2px 0 4px 0;
  /* background: #192032; */
  background: #19203261;
  border-bottom: 1px solid rgb(0 119 255 / 37%);
  display: flex;
  align-items: center;
  border-radius: 0 0 30px 30px;
  margin-bottom: 10px;
  max-width: 100%;

  position: absolute;
  top: 1px;
  z-index: 100;
  width: 100%;

  @media (min-width: 1000px) {
    display: none;
    margin-bottom: 10px;
  }
}

.container {
  width: 100%;
  max-height: 250px;
  /* min-width: var(--width-mx); */

  margin: 10px auto;

  padding: 0 0.7rem;
  @media (min-width: 1024px) {
    padding: 0 1rem;
  }
}

.wrapperHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoColor {
  font-size: 22px;

  font-weight: 500;
  padding: 5px 8px;
  background: var(--colors-btn);
  border-radius: 15px;
  margin-left: 3px;

  /* box-shadow: 0 0 20px; */
  cursor: pointer;
}

.inputSearch {
  border: none;
  padding: 18px;
  font-size: 16px;
  width: 50%;
  height: 30px;
  border-radius: 20px;
  background: #303b51;

  @media (min-width: 377px) {
    width: 45%;
  }
}
