:root {
  /* Typography */
  --family: "Montserrat", sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-bg: 20px;
  --fs-logo: 30px;
  --fw-light: 300;
  --fw-middle: 500;
  --fw-normal: 600;

  /* Other */
  --radii: 0.5rem;

  --colors-text: hsl(200, 15%, 8%);
  --colors-bg: hsl(0, 0%, 98%);
  --colors-bg-cart: #eaeaea;
  --colors-ui-base: hsl(0, 0%, 100%);
  /* --colors-btn: #005bff; */
  /* --colors-btn: #89e69ad3; */
  /* --colors-btn: #ec00f7c7; Фиалет */
  /* --colors-btn: #27b119; Зеленый */
  /* --colors-btn: #71aaeb; */
  --colors-btn: rgb(0, 119, 255);
  --colors-line: linear-gradient(to left, #eff5fa 20%, #b2deff, #71aaeb 80%);
  --colors-line-new: linear-gradient(
    to right top,
    #eff5fa 20%,
    #b2deff,
    rgb(0, 119, 255) 80%
  );
  --colors-line-hub: linear-gradient(
    to right top,
    #eff5fa 20%,
    #b2deff,
    rgb(0, 119, 255) 80%
  );
  --colors-line-topChart: linear-gradient(
    to right top,
    #eff5fa 20%,
    #cce9ff,
    rgb(0, 119, 255) 80%
  );
  --colors-btn-border: #0000001b;
  --colors-btn-hover: ##70c1ff;

  /* whiht */
  --width-mx: 1240px;
  --width-mx-project: 1240px;

  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --shadow-upload: rgba(176, 130, 228, 0.2) 0px 8px 24px;
}

#app {
  height: 100%;
}
html,
#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

.videoItem {
  height: 100%;
}

.container {
  width: 100vw;

  display: flex;

  align-items: center;
  justify-content: center;
}
